<%- include('./partials/header.ejs') -%>

<div class="container w-50" id="forget">
    <h1 class="display-4 text-center mt-5">Reset Password</h1>
    <form action="/forgot" method="post">
        <%- include('./partials/messages.ejs') -%>
        <div class="mb-3">
            <input type="email" placeholder="Enter email address" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <button type="submit" id="submit" class="btn btn-primary">Send email</button>
        <p><a href="/login" class="link-secondary link-offset-2 ">Back to login</a></p>
    </form>
    
</div>