<%- include('./partials/header.ejs') -%>
<body>

    <%- include('./partials/navbar.ejs') -%>

        <%- body %>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
                crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/5cbc5ad11e.js" crossorigin="anonymous"></script>
            <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="index.js"></script>
</body>

</html>